.loginContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--websiteColor);

  .login {
    padding: 100px 200px;
    border-radius: 40px;
    background-color: var(--white);

    .form {
      display: flex;
      gap: 30px;
      flex-direction: column;
      margin-top: 20px;

      .field {
        display: flex;
        gap: 5px;
        flex-direction: column;
      }

      .field > div {
        width: 500px;
      }

      .field > div > div {
        border-radius: 10px !important;
      }
      .cursor_pointer {
        cursor: pointer;
        color: #bcbec0;
      }
      .horizontal_div {
        padding: 0 80px;
      }

      .horizontal {
        margin-bottom: 25px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid var(--gray_250);
        line-height: 0.1em;
        margin: 10px 0 20px;
        width: 335px;
      }

      .horizontal > span {
        font-size: var(--text_sm);
        font-weight: 400;
        background-color: var(--white);
        padding: 10px;
      }

      .submit {
        width: 500px;
        height: 50px;
        background-color: var(--buttonColor);
        color: var(--white);
        border-radius: 10px;
        font-size: var(--text_base);
        font-weight: 700;
        border: none;
      }
    }

    .loginGoogle {
      display: flex;
      margin-bottom: 30px;
      justify-content: center;
    }

    .loginGoogle > button {
      box-shadow: none !important;
      border: 1px solid var(--gray_250) !important;
      border-radius: 10px !important;
      padding: 2px !important;
    }

    .loginGoogle > button > span {
      font-size: var(--text_sm);
      font-weight: 400;
      color: var(--black);
    }

    .signupLink {
      display: flex;
      justify-content: center;
    }

    .link {
      a {
        color: var(--green);
        font-size: var(--text_sm);
        font-weight: 700;
        line-height: 17px;
      }
    }
  }

  .loading {
    margin-left: 45%;
  }
  @media screen and (max-height: 800px) {
    height: auto;

    .login {
      margin: 45px;
    }
  }
}

.errorMessage {
  color: red;
}

@media (max-width: 900px) {
  .loginContainer {
    .login {
      padding: 0;
      width: 338px;
      height: 482px;
      position: relative;

      .errorMessage {
        left: 32px;
        display: block;
        font-size: 12px;
        position: absolute;
        z-index: 15;
      }

      .title {
        width: 58px;
        height: 36px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        display: flex;
        align-items: center;
        color: var(--black);
        margin-left: 32px;
        margin-top: 40px;
      }

      .form {
        width: 338px;
        display: block;
        margin-top: 10px;
        padding-left: 32px;
        padding-right: 34px;

        .field {
          width: 270px;
          height: 65px;
          margin-top: 16px;

          div {
            width: 270px;
            height: 40px;
            display: flex;

            .cursor_pointer {
              margin-left: 100px;
            }
          }
        }

        .inputFieldProps {
          width: 350px;
        }

        .submit {
          width: 270px;
          height: 40px;
          background-color: var(--buttonColor);
          color: var(--white);
          border-radius: 4px;
          font-size: var(--text_base);
          font-weight: 700;
          border: none;
          font-family: "Lato";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          margin-top: 16px;
        }

        .horizontal_div {
          display: flex;
          width: 270px;
          padding: 0px;
          justify-content: center;

          .horizontal {
            text-align: center;
            border-bottom: 1px solid var(--gray_250);
            line-height: 0.1em;
            margin-top: 14px;
            width: 180px;
          }
        }
      }

      .signupLink {
        margin-top: 0;
      }
    }
  }
}
