.table {
  min-width: 650;
  border: 1px solid #bcbec0;
}

.tableHead {
  background: #08645e;
}

.tableHeadCell {
  font-weight: 600;
  color: #ffffff;
}

.tableRow {
  border-bottom: 2px solid #bcbec0;
  border-top: 2px solid #bcbec0;
  font-size: 14px;
  font-weight: 500;
}

.optimize_button {
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    border: solid 1px;
    margin: 1rem 1rem 1rem 0rem;
    background-color: var(--green);
    color: var(--white);
    border-radius: 5px;
    border-color: transparent;
    min-width: 150px;
    min-height: 40px;
    cursor: pointer;
  }
  
  .table_title {
    color: var(--white);
    font-style: normal;
    margin-bottom: 1rem;
  }
  